<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This weather service takes input from user and first finds its coordinates using mapbox API and then uses that coordiantes to find the weather of that location using weatherstack API.
            It created a Node.js Server using Express.js which allows users to interact with application by visiting a URL in browser, Express.js is also used to serve up a with webpages, styles and scripts.
            Handlebars templating engine  with Express are used to render dynamic HTML pages. Finally a connection is being set up between lient and server using HTTP request.
        
        </p>
    </div>
     
     {{>footer}} 
</body>

</html>