<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This weather service takes input from user and first finds its coordinates using mapbox API and then uses that coordiantes to find the weather of that location using weatherstack API.
            I had also created a Nodejs Server using Express which allows users to interact with application by visiting a URL in browser. I had also used Express server to serve up a with webpages, styles and scripts.
            I had also used Handlebars templating engine with Express to render dynamic HTML pages. Finally a connection is being set up between client and server using HTTP request.
        </p>
    </div>
     
     {{>footer}} 
</body>

</html>